# --------------- #
# IntelliJ #
# --------------- #
.idea/
**/*.iml

# VSCode directory
.vscode

# Node
node_modules

# Gitbook
_book

# Gitbook UML
**/uml

# MacOs
.DS_Store

*.log

*.jar

# Ignore VSCode Plantuml Image exporter
out/**/*.*
