/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url('https://fonts.googleapis.com/css?family=Varela+Round')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

h1, h2, h3
  font-family: 'Varela Round'

p
  font-family: 'Open Sans'

.home .hero img
  max-width 450px!important

.home .feature
  max-width: 33% !important

.home .hero .description
  color: #000000 !important
  max-width: 720px !important

.navbar .site-name
  display: none

.home .hero #main-title
  display: none
