# CircleCI v2.1 Config
version: 2.1

##
# orbs
#
# Orbs used in this pipeline
##
orbs:
  slack: circleci/slack@3.4.2
  pr-tools: mojaloop/pr-tools@0.1.8


##
# defaults
#
# YAML defaults templates, in alphabetical order
##

##
# Executors
#
# CircleCI Executors
##
executors:
  default-docker:
    working_directory: /home/circleci/project
    docker:
      - image: node:12.16.1-alpine

  default-machine:
    machine:
      image: ubuntu-1604:201903-01

##
# Jobs
#
# A map of CircleCI jobs
##
jobs:
  build_and_deploy_s3:
    executor: default-docker
    steps:
      - checkout
      - run:
          name: Install default dependencies
          command: |
            apk --no-cache add git \
              ca-certificates \
              curl \
              openssh-client \
              make gcc g++ python libtool autoconf automake \
              python3 \
              py3-pip

            pip3 install awscli
      - run:
          name: test aws cli + permissions
          command: |
            aws --version
            aws s3 ls s3://mojaloop-docs-preview
      - run:
          name: run build and deploy script
          command: ./scripts/_deploy_preview_s3.sh
    
      # TODO: announce preview docs are ready
      # - run:
      #     <<: *defaults_slack_announcement

##
# Workflows
#
# CircleCI Workflow config
##
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_deploy_s3:
          context: org-global
          filters:
            branches:
              only:
                # TODO: change this to `mojaloop-docs-2.0`
                - /feat\/2282-.*/
