/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #00a3ff
$textColor = #000000
$borderColor = #eaecef
$codeBgColor = #282c34
// Set this to 7 when we want a custom banner above the navbar
$navbarHeight = 3.5rem
// set this to 3.5 when we want a custom banner above the navbar
$navbarBannerHeight = 0rem
